html {
  background: url(/Users/staceymaresco/Desktop/stardust.png) repeat;
}

body {
  background: none;
}

.introduction h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 90px;
  color: white;
  text-align: left;
  position: relative;
  background: rgba(0,0,0,0);
  margin-top: 300px;
}

.introduction p {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: white;

}
