html {
  background: url(/Users/staceymaresco/Desktop/stardust.png) repeat;
}

body {
  background: none;
}

.introduction h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 90px;
  color: white;
  text-align: center;
  position: relative;
  background: rgba(0,0,0,0);
  margin-top: 175px;
  border: 1px solid white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.introduction span {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: white;
  position:absolute;
  text-align: center;

}
